@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-loading-skeleton/dist/skeleton.css";

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer; /* Setting the cursor to the pointer */
}

.custom-scrollbar {
  overflow-y: auto; /* Umożliwia przewijanie w pionie */
  overflow-x: hidden; /* Ukrywa pasek przewijania w poziomie */
  scrollbar-width: thin; /* Ustawia szerokość paska przewijania na cienką (Firefox) */
}
